[Unit]
Description=JupyterHub Service
After=multi-user.target

[Service]
User=root
ExecStart=/usr/local/bin/jupyterhub -f /root/jupyterhub_config.py
Restart=on-failure

[Install]
WantedBy=multi-user.target